@keyframes react {
  0% {
    transform: translate(0, 0);
    opacity: 0%;
  }

  100% {
    transform: translateX(-160px);
    opacity: 100%;
  }
}

@keyframes angular {
  0% {
    transform: translate(0, 0);
    opacity: 0%;
  }

  100% {
    transform: translate(-130px, -90px);
    opacity: 100%;
  }
}

@keyframes laravel {
  0% {
    opacity: 0%;
    transform: translate(0);
  }

  100% {
    transform: translate(-45px, -155px);
    opacity: 100%;
  }
}

@keyframes nodejs {
  0% {
    opacity: 0%;
    transform: translate(0);
  }

  100% {
    transform: translate(45px, -155px);
    opacity: 100%;
  }
}

@keyframes postgresql {
  0% {
    transform: translate(0, 0);
    opacity: 0%;
  }

  100% {
    transform: translate(130px, -90px);
    opacity: 100%;
  }
}

@keyframes mongodb {
  0% {
    transform: translate(0, 0);
    opacity: 0%;
  }

  100% {
    transform: translateX(160px);
    opacity: 100%;
  }
}
